// Custom styles, see this file for details:
// https://github.com/vuejs/vuepress/blob/master/packages/docs/docs/miscellaneous/design-concepts.md#reasonable-priority-management

// Default is dark mode: @media (prefers-color-scheme: dark)
// Overrides can be done using @media (prefers-color-scheme: light)
html
body
  background $darkBgColor
  color $lightTextColor

  @media (prefers-color-scheme: light)
    background #fff
    color $textColor

    .theme-default-content code
      color $codeTextColor

#app
  overflow hidden

  // fonts
  font-family Inconsolata, monospace
  font-weight 400
  line-height 1.5

  @media (min-width: 0)
    font-size 15px
  @media (min-width: ($MQMobileNarrow + 1px))
    font-size 16px
  @media (min-width: ($MQMobile + 1px))
    font-size 17px
  @media (min-width: ($MQNarrow + 1px))
    font-size 18px

  h1
  h2
  .site-name
    font-family playfair display, serif
    font-weight 700
    line-height 1.2
    text-transform lowercase

  h1
    font-size 3rem
    margin-bottom 1.5rem

  h2
    font-size 2rem

  h3
  h4
  summary
    text-transform uppercase
    letter-spacing 0.05rem
    font-weight 700

  details
    margin 1rem 0
    &[open]
      > :last-child
        margin-bottom 3rem

  summary
    margin 1rem 0
    &::marker
      color $accentColor
    h3
      display inline-block
      margin 0
      .header-anchor
        margin-left -2.25rem

  // home
  .home
    .action-button
      background $buttonColor
      border 1px solid $buttonColor
      text-transform uppercase
      &:hover
        background-color: #4b8c57
        border-color: #468452
    .custom
    .hero .description
      color $reducedTextColor
      a
        color lighten($reducedTextColor, 40%)
        @media (prefers-color-scheme: light)
          color darken($reducedTextColor, 40%)
        &:hover
          text-decoration underline
    .feature h2
    .feature p
      color unset

  // navbar
  .navbar
    color $navbarTextColor
    background $navbarBgColor
    border-bottom-color lighten($navbarBgColor, 10%)
    .logo
      margin-right .25rem
    .nav-links
      .nav-item
        margin-left 1.75rem
    .nav-link,
    .repo-link
      color $navbarTextColor
      font-weight 700
    .site-name
      color $navbarTextColor
      font-size 1.5rem
    .links
      background $navbarBgColor
      color $navbarTextColor
      font-size 1em

    .suggestions
      background $navbarBgColor
      @media (prefers-color-scheme: light)
        background #fff

    .suggestion
      a
        color $navbarTextColor
        @media (prefers-color-scheme: light)
          color $textColor
      &.focused
        background-color alpha($accentColor, 30%)
        @media (prefers-color-scheme: light)
          background-color alpha($textColor, 10%)
        a
          color darken($lightTextColor, 20%)
          @media (prefers-color-scheme: light)
            color darken($textColor, 20%)

  // sidebar
  .sidebar-mask
    background alpha($darkBgColor, 90%)
    @media (prefers-color-scheme: light)
      background alpha(#fff, 90%)

  .sidebar
    font-size unset
    border-right-color lighten($navbarBgColor, 10%)
    background $darkBgColor
    @media (prefers-color-scheme: light)
      border-right-color $borderColor
      background: #fff

    .sidebar-link
      color unset
      &.active
        color $accentColor
        @media (prefers-color-scheme: light)
          color darken($accentColor, 20%)
      &:hover
        color $accentColor
        @media (prefers-color-scheme: light)
          color darken($accentColor, 40%)

  // content
  .page
    a:not(.nav-link)
      text-decoration none
      color $accentColor
      @media (prefers-color-scheme: light)
        color darken($accentColor, 20%)
      &:hover
        text-decoration underline
        color lighten($accentColor, 40%)
        @media (prefers-color-scheme: light)
          color darken($accentColor, 40%)

    // force long words (i.e. onion addresses to break)
    p
      word-break break-word

    code
      color darken($lightTextColor, 20%)
      background-color alpha($accentColor, 30%)
      @media (prefers-color-scheme: light)
        color lighten($textColor, 20%)
        background-color alpha($textColor, 10%)

    pre
      code
        color unset
        background-color unset

    blockquote
      margin 1rem 0
      color $reducedTextColor
      border-left-color darken($reducedTextColor, 50%)
      @media (prefers-color-scheme: light)
        border-left-color lighten($reducedTextColor, 50%)

    img
      margin 1rem 0
      border 1px solid $borderColor

    table
      display table
      width 100%

    tr:nth-child(2n)
      background-color alpha($borderColor, 10%)

    .all-contributors
      table
        td
          width 20%
          vertical-align top

    .custom-block
      background-color $codeBgColor
      &.danger
        color #c00
        a
          color #e63e3e
      &.warning
        color #c8af33
      @media (prefers-color-scheme: light)
        &.tip,
        &.danger
          background-color #f3f5f7
        &.warning
          color #6b5900
          background-color rgba(255,229,100,.3)

    .ytEmbed
      position relative
      margin 1rem 0 2rem
      height 0
      overflow hidden
      max-width 100%
      padding-bottom 56.25%

      iframe
      object
      embed
        position absolute
        top 0
        left 0
        width 100%
        height 100%

    .edit-link a
    .edit-link .icon
    .last-updated .prefix
    .last-updated .time
      font-size .9rem
      color $reducedTextColor
