:root {
  --c-brand: #77C600 !important;
  --search-input-width: 10rem !important;
  --c-danger: #cc0000 !important;
  --c-danger-bg: #ffe0e0 !important;
  --c-danger-text: #660000 !important;
  --c-danger-text-accent:#2c3e50 !important;
  --c-tip: var(--c-brand) !important;
  --c-warning: #e7c000 !important;
  --c-warning-bg: #fffae3 !important;
  --c-warning-text: #746000 !important;
  --c-text-light: #fff !important;
  --c-border-dark: var(--c-brand) !important;
  --c-text-quote: var(--c-text) !important;
}
html {
	height: 100vh;
}
body {
	padding-bottom: 40px;
	min-height: 100vh;
}
.home .feature h2 {
	font-weight: bold;
}
.navbar-items a {
	font-weight:bold;
	font-size: 16px;
}
.custom-container.details summary {
	font-weight: bold;
}
.action-button.primary {
	font-weight: bold;
	color: #fff !important;
	text-transform: uppercase;
}
.custom-container {
	padding-bottom: 20px !important;
}
a[href^="https://youtu.be"] {
	display: block;
	position: relative;

	&:after {
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAERklEQVR4nOWbTWhcVRTHb1IJVoxGtNCNdal2JYJReC6GWuO83PM/59yUS3FRFARdFlwYP1CfiojQWt36sRCUurRIdVFXIn41lAoVdRGrG1M01YpKrWjiYmaSl8ybZJL3cd+YA//NLObd3++eO8x79z5jSq5Gw+8kov0AP8vMR5l1BtBZQM4B8ks75wCdZdYZZj5qLZ4hov2Nht9Z9vhKKSIaB/gI4M4w62KeAO6Mte4lYOq20FxrlqqOibhHmeWbvNC9ZfDX1mLae391aN6limO/gwgvAPJbWeAZuSDingdwXTBw7/0IsyaA/Fkh+KqOkD+YNfHej1QKD+y7iVlOhgLvFqFfNJvNGyuBJ+KDAF8MDd0tgS8y64OlgSdJMsysL4cG7SOHkyQZLhTee7+d2R2rAVy/S+Jd7/32ouBHAP4gNNRGQyTHc/84NhqNywZp5rvjjnnvt21aABFeCQ+RLwAf2hQ8s7sv9OCLk6AHNgQvIrvbfzKCD76g/O6cu7lf/iER/aQGgy448pExZmhdegAPhR9sObFWH1gT3lp7DaA/5bkIgJhZPgsNmz02novj+KqeApj1ubwXWe4kdyeznAgNvTpE/HQmvKqOMeuFogTUVQSRno+iaLRLAJF7uIgL9O4ubgL8aWgB7S44mNX+35YpICUiAvS9sBLkq1WzT+NFffl6AuoiApi6NT37h6sWkBIRZGkQ8YtLgyji6e1mBYTqCEBPG2Naz+0BWQgtoGoRgCzEsd9hAN1X5BfnFZASUfrSAFQNsyZ1FJASUVpHiLinDJG8U2cBZYogkrcNs5waBAGdstbeU9zdqpw0gPwwSAI6VUxHyFlDpOcHUUBBIuYNs14aZAE5RVwyzPr3/0EAEY0TyfGNjBWQvwZ +CTSbehfAH29mrID8bET0+0EUkAd8WYDOmqJ3ecsG30yr9wqRfm6Y+a1BEFDEjHfHvWmY9ck6CygHvBVr8Xhtb4ZE5HZA3y8DvBNA1TjnrmXWf+sioMwZX5V/VHXMGGMMoKdDCxCRvRWBdzKzdHEO+EisilbPyopHYqp6S9UCAsz4iojI7hUDAtyXVQgIDd6KnOoaWNkbI6FaPSuZGyMArsi7MZoloB4zviI/Nhr3X95jltwTRQmoIfgisy5ai+me67OI7fE4nrqjrqfK1t0eby0FPRB6oGVlchL3rgnfrq19RKbVBdhV9IOSwJmfmJi4vi/4ThERitwyCxVAFqydshuCX5awhQ9KtmuIWd8IDZED/nXT77rvVVv6sHRKwjYi91poqP7Dr+Y6JJ1VSZIMA3wkPNy6bX+o8Bcm0sXMdwM8Fxo0A3xORPaWBp6uPXsmbxCRD0NDL0dOANhVCXy6iAjMcjbcrMt3RITKwdMVRdFo+y5yvkL4eWZ+zHt/ZVD4dEVRNGotpst+dZZZH8k86lqn2pIvT/eqrNfn2xuyqYPZ8mv7s8pfn/8Pybm4TIjanscAAAAASUVORK5CYII=") no-repeat 50%;
		background-size: 64px 64px;
		position: absolute;
		height: 100%;
		width: 100%;
		opacity: .8;
		transition: all .2s ease-out;
		content: "";
		cursor: pointer;
		top: 0;
		left: 0;
	}
	img {
		width: 100% !important;
	}
}
html.dark {
	--c-text: #fff;
	body {
	  background: linear-gradient(160deg, rgb(73, 88, 107), rgb(0, 16, 31) 22%) !important;
	}
	.sidebar {
		background-color: transparent;
	}
	.navbar {
		background-color: #00101f;
	}
}
html:not(.dark){
	--c-text-light: var(--c-text) !important;
}
@media only screen and (max-width:720px){
	html.dark {
		.sidebar {
			background-color: rgb(0, 16, 31);
		}
	}
}