:root {
  --c-brand: #77C600 !important;
  --search-input-width: 10rem !important;
  --c-danger: #cc0000 !important;
  --c-danger-bg: #ffe0e0 !important;
  --c-danger-text: #660000 !important;
  --c-danger-text-accent:#2c3e50 !important;
  --c-tip: var(--c-brand) !important;
  --c-warning: #e7c000 !important;
  --c-warning-bg: #fffae3 !important;
  --c-warning-text: #746000 !important;
  --c-text-light: #fff !important;
  --c-border-dark: var(--c-brand) !important;
  --c-text-quote: var(--c-text) !important;
}
html {
	height: 100vh;
}
body {
	padding-bottom: 40px;
	min-height: 100vh;
}
.home .feature h2 {
	font-weight: bold;
}
.navbar-items a {
	font-weight:bold;
	font-size: 16px;
}
.custom-container.details summary {
	font-weight: bold;
}
.action-button.primary {
	font-weight: bold;
	color: #fff !important;
	text-transform: uppercase;
}
html.dark {
	--c-text: #fff;
	body {
	  background: linear-gradient(160deg, rgb(73, 88, 107), rgb(0, 16, 31) 22%) !important;
	}
	.sidebar {
		background-color: transparent;
	}
	.navbar {
		background-color: #00101f;
	}
}
html:not(.dark){
	
}
.custom-container {
	padding-bottom: 20px !important;
}