// Custom styles, see this file for details:
// https://github.com/vuejs/vuepress/blob/master/packages/docs/docs/miscellaneous/design-concepts.md#reasonable-priority-management
#app
  // fonts
  font-family Inconsolata, monospace
  font-weight 400
  line-height 1.5

  @media (min-width: 0)
    font-size 15px
  @media (min-width: ($MQMobile + 1px))
    font-size 16px
  @media (min-width: ($MQNarrow + 1px))
    font-size 17px

  h1
  h2
  .site-name
    font-family playfair display, serif
    font-weight 700
    line-height 1.2
    text-transform lowercase

  h1
    font-size 3rem
    margin-bottom 1.5rem

  h2
    font-size 2rem

  h3
  h4
    text-transform uppercase
    letter-spacing 0.05rem
    font-weight 700

  // home
  .home
    .action-button
      background $buttonColor
      border 1px solid $buttonColor
      text-transform uppercase
      &:hover
        background-color: #4b8c57
        border-color: #468452
    .custom
      color $reducedTextColor

  // navbar
  .navbar
    color $navbarTextColor
    background $navbarBgColor
    .nav-link,
    .repo-link
      color $navbarTextColor
      font-weight 700
    .site-name
      color $navbarTextColor
      font-size 1.5rem
    .links
      background $navbarBgColor
      color $navbarTextColor

    .suggestions
      background $navbarBgColor

    .suggestion
      a
        color $navbarTextColor
      &.focused
        background-color #f3f4f5
        a
          color $accentColor

  // sidebar
  .sidebar
    font-size unset

  // content
  .page
    a:not(.nav-link)
      color $accentColor
      text-decoration none
      &:hover
        color #095add
        text-decoration underline

    blockquote
      margin 1rem 0
      color $reducedTextColor

    img
      margin 1rem 0
      border 1px solid $borderColor

    .edit-link a
    .edit-link .icon
    .last-updated .prefix
    .last-updated .time
      font-size .9rem
      color $reducedTextColor
