// Custom variables for our own styles
$darkBgColor = #00101F
$lightTextColor = #fff
$navbarBgColor = $darkBgColor
$navbarTextColor = $lightTextColor
$buttonColor = #77C600
$reducedTextColor = #49586b
$dividerColor = alpha($reducedTextColor, 100%)

// Color palette overrides, see this file for possible options:
// https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/core/lib/client/style/config.styl
$accentColor = #77C600
$textColor = #211b24
$borderColor = #49586b
$codeBgColor = darken($darkBgColor, 20%)
$codeTextColor = lighten($textColor, 20%)

// responsive breakpoints
$MQNarrow = 999px
$MQMobile = 899px
$MQMobileNarrow = 419px